@import '@scss/theme-variables';
@import '@scss/mixins';

.product-card-variant-3 {
  position: relative;
  background: $white;
  color: $black;
  border-radius: 4px;
  transition: all 250ms ease-in-out;

  .content {
    display: flex;
    padding: 10px 50px 10px 10px;
    max-height: 200px;

    .image {
      display: flex;
      position: relative;
      width: 100px;
      padding: 4px 4px 0;
      flex-shrink: 1;
      flex-direction: column;
      overflow: hidden;

      .image__content {
        display: flex;
        height: 0;
        padding-top: 50%;
        padding-bottom: 50%;
        background: $grey-light;
        flex-direction: column;
        justify-content: center;

        img {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
          z-index: 2;
        }

        .image-loading-skeleton {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background-color: $grey-light;
          overflow: hidden;
          z-index: 3;
        
          &::after {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transform: translateX(-100%);
            background-image:
              linear-gradient(
                90deg,
                rgba($white, 0) 0,
                rgba($white, 0.2) 20%,
                rgba($white, 0.5) 60%,
                rgba($white, 0)
              );
            animation: shimmer 2s infinite;
            content: '';
          }
        }
      }
    }

    .details {
      display: flex;
      font-size: 14px;
      flex-direction: column;
      flex-grow: 1;
      justify-content: center;

      .rating {
        display: flex;
        padding-left: 10px;
        justify-content: flex-start;
      }

      .title {
        line-height: 19px;
        padding-right: 10px;
        padding-left: 10px;
        margin: 0 0 5px;
        color: $tertiary;
        font-size: 14px;
        font-weight: 700;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      .price {
        line-height: 19px;
        padding-right: 10px;
        padding-left: 10px;
        color: $secondary;
        font-size: 12px;
        font-weight: 700;
      }
    }

    .quantity {
      display: flex;
      align-items: center;
    }
  }

  .actions {
    display: flex;
    position: absolute;
    top: 50%;
    right: 0;
    align-items: center;
    transform: translateY(-50%);

    .btn {
      height: 20px;
      width: 20px;
      padding: 0;
      margin: 0 10px 0 0;
      min-width: 0;
      border-radius: 100%;
    }
  }

  &:hover {
    box-shadow: 0 2px 15px 0 rgba($primary, 0.2);
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

@include mobile {
  .product-card-variant-3 {
    .content {
      .image {
        min-width: 100px;
      }

      .details {
        .title {
          max-width: 100px;
        }
      }
    }
  }
}

@include tablet {
  .product-card-variant-3 {
    .content {
      .details {
        .title {
          max-width: 150px;
        }
      }
    }
  }
}