@import '@scss/theme-variables';

.popular-products {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;

  h3 {
    width: 100%;
    margin: 0;
  }

  .data-loading {
    margin-top: 20px;
  }

  .swiper {
    padding: 20px 0 40px;

    .swiper-wrapper {
      .product-card-variant-1 {
        &:hover {
          transform: scale(1);
        }
      }
    }

    .swiper-pagination {
      .swiper-pagination-bullet-active {
        background: $primary;
      }
    }
  }
}