@import '@scss/theme-variables';

.data-loading {
  display: flex;
  height: 25px;
  width: 25px;
  margin-right: auto;
  border-width: 5px;
  border-style: solid;
  margin-left: auto;
  border-color: $white $white transparent $white;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;

  &.data-loading-primary {
    border-color: $primary $primary transparent $primary;
  }

  &.data-loading-secondary {
    border-color: $secondary $secondary transparent $secondary;
  }

  &.data-loading-tertiary {
    border-color: $tertiary $tertiary transparent $tertiary;
  }

  &.data-loading-grey {
    border-color: $grey $grey transparent $grey;
  }

  &.data-loading-grey-light {
    border-color: $grey-light $grey-light transparent $grey-light;
  }

  &.data-loading-black {
    border-color: $black $black transparent $black;
  }

  &.data-loading-white {
    border-color: $white $white transparent $white;
  }

  &.data-loading-success {
    border-color: $success $success transparent $success;
  }

  &.data-loading-info {
    border-color: $info $info transparent $info;
  }

  &.data-loading-warning {
    border-color: $warning $warning transparent $warning;
  }

  &.data-loading-danger {
    border-color: $danger $danger transparent $danger;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}