// Colors
$primary: #3B04DB;
$secondary: #39A389;
$tertiary: #223263;
$grey: #9098B1;
$grey-light: #DFE4F1;
$black: #000000;
$white: #FFFFFF;
$body: #F2F2F7;
$success: #83B735;
$info: #485FC7;
$warning: #FFE08A;
$danger: #F14668;
