// Colors
$primary: #019EBF;
$secondary: #0CCDA3;
$tertiary: #223263;
$grey: #9098B1;
$grey-light: #DFE4F1;
$black: #000000;
$white: #FFFFFF;
$body: #F2F2F7;
$success: #48C78E;
$info: #485FC7;
$warning: #FFE08A;
$danger: #F14668;
